# .github/workflows/sonar-analysis.yml
name: SonarCloud Analysis

on:
  # 1. Chạy khi có code được đẩy (push) lên nhánh chính
  push:
    branches: [main] # Hoặc master, tùy theo tên nhánh chính của bạn

  # 2. Chạy khi có Pull Request được mở, đồng bộ (sync), hoặc mở lại (reopened)
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Analyze on SonarCloud
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=Twangggg_JoyLeeMarket
            -Dsonar.organization=twangggg
            -Dsonar.host.url=https://sonarcloud.io
